.scroll-white::-webkit-scrollbar {
  background-color: #ebe6e0;
  color: #4c7766;
  width: 8px;
}

.scroll-white::-webkit-scrollbar-track {
  background-color: #ebe6e0;
  color: #4c7766;
}

.scroll-white::-webkit-scrollbar-thumb {
  background-color: #ebe6e0;
  color: #4c7766;
  border-radius: 5px;
}

.btn-3d {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* soft 3D shadow */
  transition: all 0.1s ease-in-out;
  border: 2px solid #ccc; /* optional for edge definition */
}

.btn-3d:active {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2); /* "pressed" effect */
  transform: translateY(2px);
}
